@import '../../../../../vars.scss';

.person {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
}
.data {
  display: flex;
  align-items: center;
  gap: 16px;
}
.avatar > div > img {
  width: 40px;
}
.button {
  color: $logo;
  border: 1px solid $logo;
  padding: 4px 16px;
  border-radius: 4px;
  font-size: 14px;
}