@import '../../vars.scss';

.container {
  box-sizing: border-box;
  background-color: $bg-main;
  color: $font-main;
  height: 100svh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 24px 0;
}