@import '../../../vars.scss';

.container {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  gap: 24px;
  padding: 12px 0;
  border-top: 1px solid $font-main;
}
