@import '../../vars.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 16px 0;
  cursor: pointer;
}
.user {
  display: flex;
  align-items: center;
  gap: 16px;
}
.avatar > div > img {
  width: 40px;
}
.post > .user > .username {
  color: $gray;
}
.post {
  margin: 0;
}
.post > .user > .avatar > div > img {
  width: 32px;
}
.post > .user  {
  gap: 12px;
  font-size: 14px;
}
.comment > .user > .avatar > div > img {
  width: 28px;
}
.comment > .user {
  gap: 8px;
  font-size: 14px;
}
@media (min-width: 1200px) {
  .username {
    font-size: 18px;
  }
  .avatar > div > img {
    width: 44px;
  }
  .post > .user > .avatar > div > img {
    width: 40px;
  }
  .post > .user > .username {
    font-size: 18px;
  }
  .comment > .user > .avatar > div > img {
    width: 36px;
  }
  .comment > .user {
    gap: 12px;
  }
  .comment > .user > .username {
    font-size: 16px;
  }
}