@import '../../vars.scss';

.container, .containerComment  {
  background-color: $bg-dark;
  height: 48px;
  border-radius: 20px;
  padding: 16px;
  transition: height 1s ease;
  border: 2px solid $logo;
}
.text {
  opacity: 0.8;
  background-color: $bg-dark;
  border: 0;
  font-family: 'Roboto', sans-serif;
}
.text::placeholder {
  color: $gray;
}
.containerFocused, .containerFocusedComment {
  background-color: $bg-dark;
  height: 112px;
  border-radius: 20px;
  padding: 16px;
  padding-right: 36px;
  position: relative;
  font-family: 'Roboto', sans-serif;
  border: 2px solid $logo;
}
.containerFocusedComment {
  height: 100px;
}
.textFocused {
  background-color: $bg-dark;
  font-family: 'Roboto', sans-serif;
  border: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
  resize: none;
}
.textFocused:focus {
  border: 0;
  outline: 0;
}
.closer {
  position: absolute;
  top: 8px;
  right: 16px;
  cursor: pointer;
}
.submit {
  position: absolute;
  bottom: 12px;
  left: 0;
  right: 0;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.8px;
  color: $logo;
  cursor: pointer;
}

@media (min-width: 1200px) {
  .text, .textFocused {
    font-size: 18px;
  }
  .submit {
    font-size: 16px;
  }
  .closer {
    font-size: 18px;
  }
  .text::placeholder {
    font-size: 16px;
  }
}