@import '../../../../vars.scss';

.container {
  padding: 6px 18px;
  border-radius: 5px;  
  font-weight: 700;
}
.follow {
  color: $bg-main;
  background-color: $logo;
}
.followed {
  background-color: $font-main;
  color: $bg-main;
}