@import './../../../vars.scss';

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-4px);
  }
  40% {
    transform: translateX(4px)
  }
  60% {
    transform: translateX(-4px);
  }
  80% {
    transform: translateX(4px);
  }
  100% {
    transform: translateX(0);
  }
}


.formCell {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 28px 0;
}
.input {
  height: 36px;
  border-radius: 20px;
  border: 0;  
  width: 220px;
  border: 2px solid transparent;
  font-size: 14px;
  padding: 0 16px;
  color: $bg-main;
  letter-spacing: 0.5px;
  text-align: center;
}
.input:focus {
  border: 2px solid $logo;
  outline: 0;
}
.title {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.2px;
}
.submit {
  text-align: center;
}
.submit > input {
  background-color: $logo;
  border: 0;
  padding: 12px 24px;
  border-radius: 20px;
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.2px;
  cursor: pointer;
}
.question {
  text-align: center;
  font-size: 14px;
  margin: 24px 0;
  letter-spacing: 0.5px;
}
.question > strong {
  cursor: pointer;
}
.message {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  justify-content: center;
  color: rgb(255, 62, 62);
}
.shake {
  animation: shake 0.3s ease-in-out
}

@media (min-width: 1200px) {
  .title {
    font-size: 28px;
  }
  .form {
    gap: 36px;
    padding: 44px 0;
  }
  .hr {
    margin-top: 16px;
  }
  .input {
    width: 420px;
    font-size: 18px;
    padding: 4px 0;
    border-radius: 12px;
  }
  .submit > input {
    font-size: 18px;
    padding: 16px 0;
    border-radius: 12px;
  }
  .question {
    font-size: 16px;
  }
}