.container {
  display: flex;
  justify-content: space-between;
  margin: 12px 24px;
}
.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.userContainer > div > img {
  width: 64px;
}
.username {
  font-size: 18px;
  font-weight: 700;
}
.socialCounters {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.followers, .following {
  font-weight: 700;
  cursor: pointer;
  letter-spacing: 0.8px;
}

@media (min-width: 1200px) {
  .container {
    margin: 24px 48px;
  }
  .userContainer {
    gap: 12px;
  }
  .followers, .following {
    font-size: 17px;
  }
}