.container {
  display: flex;
  justify-content: space-between;
  margin: 12px 24px;
}
.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
.userContainer > div > img {
  width: 64px;
}
.username {
  font-size: 18px;
  font-weight: 700;
}
.socialCounters {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.followers, .following {
  font-weight: 700;
}