.container {
  margin: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu > img {
  width: 24px;
  cursor: pointer;
}
@media (min-width: 1200px) {
  .container {
    margin: 32px 0;
  }
}