@font-face {
  font-family: Roboto;
  src: url('../src/assets/Roboto-Regular.ttf');
}
@import './vars.scss';

body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

* {
  color: $font-main;
  }