@font-face {
  font-family: Roboto;
  src: url('../src/assets/Roboto-Regular.ttf');
}
@import './vars.scss';

body, html {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: $bg-main;
  color: $font-main;
  overflow-x: hidden;
}
* {
  color: $font-main;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
.error {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  letter-spacing: 0.5px;
  font-size: 20px;
  font-weight: 700;
}
::-webkit-scrollbar {
  width: 0rem;
}
::-webkit-scrollbar-track {
  background-color: $bg-main;
}
::-webkit-scrollbar-thumb {
  background-color: $bg-dark;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $bg-dark;
}

@media (min-width: 1200px) {
  #root {
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}
.loading {
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-main;
}
