@font-face {
  font-family: Roboto;
  src: url('../src/assets/Roboto-Regular.ttf');
}
@import './vars.scss';



body {
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: $bg-main;
  color: $font-main;
}
* {
  color: $font-main;
  }
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 24
}
@media (min-width: 1200px) {
  #root {
    display: flex;
    justify-content: center;
  }
}
